
*{
  margin: 0px;  
  padding: 0px;
  font-family: sans-serif;
}

#sidebar{
  position:fixed;
  width: 270px;
  height: 100%;
  background: #151719;
}

a span{
  color: aliceblue;
  margin: 10px;
  text-decoration: none;
}

#sidebar ul li  {
  margin: 5px;
  color:rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom:1px solid rgba(100, 100, 100, 0.3); 
}

.ion{
  font-size: 25px;
}

.form-tb{
  width: 900px;
}

.content{
  position: absolute;
   left: 272px;
   top: 0px;
}

div li a img{
  width: 75px;
  height: 75px;
  margin-left: 80px;
  margin-right: auto;
}
