*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(41, 41, 41);
    display: flex;
    min-height: 100vh;
}

form {
    margin:auto;
    width: 50%;
    max-width: 500px;
    background: rgb(107, 107, 107);
    padding: 30px;
    border: 1px solid rgba(0,0, 0, 0.2)
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color:  rgba(7, 5, 5, 0.5);
}

input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

input[type="submit"],[type="button"]{/*todo los que son submit y button tendran este diseño*/
    background: linear-gradient(rgb(78, 77, 72) ,rgb(41, 41, 41) );
    border: 0;
    color:black;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}

input[type="submit"]:hover{/*Cuando una pasa el mause la opasidad del submit incrementa en 1*/
    opacity: 1;
    transform: scale(0.99);
}

input[type="submit"]:active{/*en el momento que se hace click se encoge*/
    transform: scale(0.95);
}

input[type="button"]:hover{/*Cuando una pasa el mause la opasidad del submit incrementa en 1*/
    opacity: 1;
    transform: scale(0.99);
}

input[type="button"]:active{/*en el momento que se hace click se encoge*/
    transform: scale(0.99);
}

@media(max-width:768px){/*tiene un alganse en la pantalla*/
    form{
        width:75%;
    }
}

@media(max-width:480px){/*tiene un alganse en la pantalla*/
    form{
        width:95%;
    }
}
